.image-section img {
  width: 70%;
}

/* Media queries */
/* media queries */
@media only screen and (max-width: 576px) {
  .section-container {
    flex-direction: column;
  }
  .text-section {
    text-align: center;
  }
  .image-section img {
    width: 50%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 992px) {
  .section-container {
    flex-direction: column;
  }
  .image-section img {
    width: 60%;
  }
   .text-section {
    text-align: center;
  }
  
}
