.carosel-text {
  background-color: rgba(202, 19, 19, 0.445);
  margin: 0 auto;
  height: 200px !important;
}
.font {
  font-weight: bold;
  color: rgb(205, 195, 195)!important;
}
.carousels-container img {
  width: 50%;
  height: 500px;
  margin: 0 auto !important;
}
.carousels-container {
  background-color: rgba(188, 188, 188, 0.127);
}
.carousels-container span{
  background-color: rgb(68, 68, 68);
  border-radius: 5px;
  padding: 10px;
}




/* Responsive for carousel */

@media only screen and (max-width: 576px) {
  .carosel-text {
    width: 70%;
    height: 130px;
    margin: 0 auto;
  }
  .font-title {
    font-size: 20px;
    color: rgb(49, 49, 48);
  }
  .font-description {
    font-size: 15px;
    color: rgb(49, 49, 48);
  }
  .carousels-container img {
    width: 75% !important;
    margin: 0 auto !important;
  }
}
@media only screen and (min-width: 576px) and (max-width: 992px) {
  .carosel-text {
    width: 70%;
    height: 130px;
    margin: 0 auto;
  }
  .font-title {
    font-size: 27px;
    color: rgb(49, 49, 48);
  }
  .font-description {
    font-size: 17px;
    color: rgb(49, 49, 48);
  }
  .carousels-container img {
    width: 75% !important;
    margin: 0 auto !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1400px) {
  .carosel-text {
    width: 50%;
    height: 130px;
    margin: 0 auto;
  }
  .font-title {
    font-size: 35px;
    color: rgb(49, 49, 48);
  }
  .font-description {
    font-size: 20px;
    color: rgb(49, 49, 48);
  }
  .carousels-container img {
    width: 60% !important;
    margin: 0 auto !important;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 3760px) {
  .carosel-text {
    width: 45%;
    height: 130px;
    margin: 0 auto;
  }
  
}
