.lgo {
  width: 30px;
  margin-right: 30px;
}
.log-container {
  display: flex;
  align-items: center;
}

.login {
  background-color: rgb(181, 248, 187) !important;
  color: rgb(50, 50, 50) !important;
  font-weight: bold !important;
}
.login:hover {
  background-color: rgb(142, 212, 182) !important;
  color: rgb(49, 78, 222) !important;
  font-weight: bold !important;
  transition: 1s;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
  .usersigninfo {
    flex-direction: column!important;
  }
}
